* { padding: 0; margin: 0; }

ul {

	li {
		height: 75px;
		position: relative;
		vertical-align: middle;
		img {
			max-height: 75px;
			vertical-align: middle;
		}
		&.active {
			height: 100px;
			padding: 100px 0;
			background: blue;
			z-index: 99999;
			img {
				max-height: 500px;
			}
		}
	}
}
