* { padding: 0; margin: 0; }

ul {
	margin-left: 50px;
	list-style: none;

	li {
		height: 75px;
		position: relative;
		vertical-align: middle;
    font-size: 60px;
		-moz-transform-origin: left center;
		-webkit-transform-origin: left center;
		transform-origin: left center;
		-moz-transition: all .05s ease-in-out;
		-webkit-transition: all .05s ease-in-out;
		transition: all .05s ease-in-out;

		img {
			max-height: 75px;
			vertical-align: middle;
		}
		&.active {
			height: 100px;
			padding: 100px 0;
			margin-bottom: 50px;
      font-size: 100px;
			z-index: 99999;
			img {
				max-height: 500px;
			}
		}
	}
}
